<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phoenixcodingcsc191.gisaproject">
    <!-- if you need to find a path or read storage state -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- if you need to save a draw as an image -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".LoginScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SiteInformationActivity" />
        <activity android:name=".MeasurementScreenActivity" />
        <activity android:name=".ObservationScreenActivity" />
        <activity android:name=".RecommendedAction" />
        <activity android:name=".IncidentOptionsActivity" />
        <activity android:name=".IncidentTypeAndDistributionActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SketchActivity"></activity>
    </application>

</manifest>